body{
    width: 100%;
    margin: 2px;
    padding: 0;
    background-image:url() ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}
.header{
    display: flex;
    align-items: flex-start;  
    border: 2px black ;
    height: 9vh;
    background-color: rgb(122, 187, 244);
    
}
.header ul{
    text-decoration: none;
    
    
}
.header li{
    text-decoration: none;
    list-style: none;
    display: inline;
    
}
.page1{
    padding: 0;
    display: grid;
    scroll-behavior: smooth;
    height: 80vh;
    justify-content: center;
    align-content:space-around ;
}
.page1 .title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: 2rem;
    font-style: oblique;
    font-variant: small-caps;
    height: fit-content;
    
}
.inpt{
    border: 2px dodgerblue;
   
    height: fit-content;
    width: fit-content;
}
.inpt input{
    width: 400px;
    height: 30px;
    border: 4px;
    border-top-style: groove;
    border-left: 1px;
    border-right-style: groove ;
    background-color: transparent;
    color: green;
    text-align: right;
    text-decoration: none;
    

}
.inpt input:focus{

    background-color: rgba(240, 233, 233, 0.17);
    
}
.actionButtons{
    
    justify-content:end;
    width: 400px;
    padding: 5px;
    display: flex;
   
}
.actionButtons button{
    width: 50px;
    height: 40px;
    
    
    
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(97, 5, 5);
    
    
    

}
.numbers{
    /* background-color: aquamarine; */
    
    font-weight: bold;
}
.row{
    width: 400px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    
}
.row button{
    width: 50px;
    height: 40px;
}






